@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300i,400,400i');
@import url('https://fonts.googleapis.com/css?family=Scheherazade&display=swap');


/*** Barra de navegação ***/
nav.bg-topo {
    background: black !important;
    opacity: 0.9;
}

a.navbar-brand img {
    width: 100px;
   height: 40px; 
}

#collapsibleNavbar ul li{
    text-transform: uppercase;
    text-align: center !important;
    display: block;
    margin-left: 0;
   
}


a.dropdown-item {
    text-align: center;
}

.bg-nh a:hover {
	background-color:#D2691E !important;
	color: white !important;
    transition: 1s !important;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
}

/*** CAROUSEL SEÇÃO SLIDE ***/
.positionslide {
	font-size: 5rem;
	display: block;
	margin-top: 0;
}

div.carousel-item h1#textslide:nth-child(1) {
        animation-name: carousel;
        animation-duration: 1000ms;
        animation-delay: 500ms;    

}
div.carousel-item h3#textslidetuo:nth-child(2) {
    animation-name: carouseltuo;
    animation-duration: 800ms;
    animation-delay: 850ms;
    animation-fill-mode: backwards;  

}
div.carousel-item h4#textslidetre:nth-child(3) {
    animation-name: carouseltre;
    animation-duration: 800ms;
    animation-delay: 850ms;
    animation-fill-mode: backwards;  

}

@keyframes carousel {
    from {
        opacity: 0;
        transform: translateX(-60%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}    
    @keyframes carouseltuo {
        from {
            opacity: 0;
            transform: translateX(-60%);
        }
        to {
            opacity: 1;
            transform: translateX(0%);
        }    
}
@keyframes carouseltre {
    from {
        opacity: 0;
        transform: translateX(-60%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }    
}
.text-biblico{
    font-family: 'Scheherazade', serif;
    font: italic;
    font-size: 3.0rem;
}

/** Boletim Informativo ****/
.bg-informativo {
    background: linear-gradient(131.26deg,#312b45 30%, #ff3859 100%);

}
.underline-informativo {
    content: '';
	border-top: 2px solid #ff3859;
	width: 100px;
	display: block;
	margin-bottom: 8px;
    margin: 0 auto;
}

.p-informativo {
	text-indent: 10%;
}

/** Estudo Bíblico  ****/
.bg-parallax {
	background:url('../img/parallax.jpg') fixed;
    background-repeat: no-repeat;
    border: none;
    box-sizing: border-box;
}

.underline-estudoBiblibo {
    content: '';
	border-top: 2px solid #ff3859;
	width: 100px;
	display: block;
	margin-bottom: 8px;
    margin: 0 auto; 
}
.p-estudoBiblico {
	text-indent: 10%;
}

/** Oreintações Bíblicas  ***/
.tamanho-card {
    width: 100%;
	height: 260px;
}

/***  Fotter  ****/
.underline-footer {
	content: '';
	border-top: 2px solid #de9218;
	width: 300px;
	display: block;
	margin-bottom: 8px;
	left: 0 auto;
}



.icon-novo {
	color:#de9218;
	font-size: 20px;
}

.text-fonte {
font-family: 'Josefin Slab', serif;
} 

/** Imagem pagina horario culto ***/
.bg-imagem {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: none;
}

/** Configuração dos videos ***/
#cor-fundo-video {
    background: linear-gradient(131.26deg,#312b45 30%, #ff3859 100%);
    margin-bottom: -30px;
    
}

.texto-video {
    font-weight: 700;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.1em;
    font-size: 3.5rem;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
}

.texto-video2 {
    font-weight: 600;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.1em;
    font-size: 3.5rem;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #4682B4;

}

.embed  {
    margin: auto;
    border: none;
    margin-bottom: 10px;
    
}

.embed iframe {
    width: 100%;
    margin: auto;
    border: none;
}

iframe {
    height: 300px;
}


.conf-video {
    margin: auto;
    padding: 15px; 
    margin-bottom: 30px; 
}

/** Configuração venda de livro **/
.livros {
    display: flex;
    
}

.livroAutor {
    margin-left: 10px;
    flex-direction: column;
}

section.venderLivro {
    margin-top: 20px;
}

section.venderLivro h1 {
    font-weight: 700;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.1em;
    font-size: 3.5rem;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    text-align: center;
    color: #ff3859;
    
}

section.venderLivro span {
    font-weight: 600;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.1em;
    font-size: 3.5rem;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    text-align: center;
    color: #4682B4;

}

section.venderLivro h2 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #980a00;
    margin-bottom: 20px;
    margin-top: 50px;
}

section.venderLivro h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

section.venderLivro p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0px;
}

section.venderLivro p.livroTexto {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 6px;
    text-align: justify;
     
}

section.venderLivro p.livorsLink {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 6px;
    text-align: justify;
}

#imgLivro {
    width: 100%;
    height: 350px;
}

.bg-sub-footer {
    color: white;
    width: 100%;
    background-color: #606062;    
}




